*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232f3e;
    height: 58px;
    padding-left: 16px;
    padding-right: 20px;
}

a{
    text-decoration: none;
    color: #f89501;
}

p{
    text-align: center;
}
#copywright{
    background: #232f3e;
    align-items: center;
    color: white;
    height: 132px;
}

#contents{
    height: 650px;
    width: auto;
    background-color: whitesmoke;
}